@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-capitalize display-2">Welcome to Krusty Krab Pizzas</h1>
    <h4 class="text-capitalize display-6">Krusty Krab Pizza, is the pizza, for you and me!</h4>
    <img class="figure-img rounded-2 m-2 pb-4 display-2" src="~/images/spongebobPizza.jpg" />
    <br />
    <button type="button" class="btn btn-primary btn-lg">
        <a class="nav-link text-light" asp-area="" asp-page="/Checkout/ThankYou">I WANT MY PIZZA!</a>
    </button>
    
</div>
