@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container mt-4 p-2">
        <h1 class="text-capitalize display-2">Welcome to Krusty Krab Pizzas</h1>
        <h4 class="text-capitalize display-6">Krusty Krab Pizza, is the pizza, for you and me!</h4>
    </div>
    <img class="figure-img m-2 pb-4" src="~/images/spongebobPizza.jpg" />
    <br />
    </button>
    <button type="button" class="btn btn-primary btn-lg">
        <a class="nav-link text-light" asp-area="" asp-page="/Checkout/ThankYou">I WANT MY PIZZA!</a>
    </button>
    
</div>
