@page
@model KrustyKrabPizza.Pages.Forms.CustomPizzaModel
@{
}

<div class="container text-center">
    <h1 class="text-uppercase">Create your own pizza!</h1>
    <form method="post">
        <input 
        class="form-control form-control-lg" 
        type="text" 
        asp-for="Pizza.PizzaName" 
        placeholder="give your pizza a name..." />
        <button class="btn btn-primary mt-4" type="submit">Order My Pizza!</button>
    </form>
</div>

